body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin-bottom: 16px;
}

span {
    margin-left: 16px;
    color: #374D77;
}

table {
    width: 50%;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

td {
    padding: 4px;
}